.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.regTrademark {
  font-size: 20px;
  vertical-align: top;
}
.trademark {
  font-size: 20px;
  vertical-align: top;
}
.copyright {
  font-size: 20px;
  vertical-align: top;
}

/*.item_1 {*/
  /*float: left;*/
  /*align-self: flex-start;*/
/*}*/

/*.item_2 {*/
  /*text-align: center;*/
  /*align-self: center;*/
/*}*/

/*.item_3 {*/
  /*float: right;*/
  /*align-self: end;*/
/*}*/

.basic {
  padding: 1.3% 5% 1.3% 5%;
  text-align: center;
  width: 100%;
  border: solid 1px #979797;
  background-color: #ffffff;
}

.fitness {
  /*padding: 50px 0px 30px 0px;*/
  /*width: 294px;*/
  /*height: 48px;*/
  font-family: "Helvetica Neue";
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #000000;
}

.log-in {
  float: right;
  /*padding: 50px 20px 30px 500px;*/
  /*width: 49px;*/
  /*height: 24px;*/
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: right;
  color: #000000;
}

.fitness .text-style-1 {
  font-weight: 300;
}

.Burger {
  float: left;
  /*padding: 50px 500px 30px 20px;*/
  width: 32px;
  height: 32px;
}

