<div class="basic container">
  <span ><img class="Burger item_1" src="../../assets/images/burger.png"></span>

    <div class="fitness item_2">
      <span>FITNESS</span>
      <span class="text-style-1">CLIENT</span><span class="copyright">&copy;</span><span class="regTrademark">&#174;</span><span class="trademark">&trade;</span>
    </div>
  <span class="log-in item_3">Mad Hatter</span>
</div>
