<!--<div *ngIf="info.token; else loggedOut">-->
  <!--<h5 class="text-primary">Your Information</h5>-->
  <!--<p>-->
    <!--<strong>Username:</strong> {{info.username}}<br/>-->
    <!--<strong>Roles:</strong> {{info.authorities}}<br />-->
    <!--<strong>Token:</strong> {{info.token}}.-->
  <!--</p>-->
  <!--<button class="btn btn-secondary" (click)="logout()">Logout</button>-->
<!--</div>-->

<div class="home_description" *ngIf="info.token; else loggedOut">
  <h5> Thank you for choosing fitness! </h5>
  <h5>Logged in user: {{info.username}} </h5>
  <h5> Go enjoy the app! </h5> <br/>
  <button class="home_button" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  <div class="home_description">
    <h5>   Please login to enjoy all of the features :) </h5>
    <a routerLink="/login" class="btn btn-success"> Login Here </a>
  </div>
</ng-template>
