.home_description {
  text-align: center;
  padding-top: 20px;
  font-size: 24pt;
  color: darkmagenta;
}

.home_button {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  font-size: 18pt;
  background-color: lightgray;
}
