.flexContainer{
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.workoutButton {
  margin-top: 9%;
  display: flex;
  justify-content: center;
  width: 100%;
}

button{
  border: solid 1px lightgrey;
  background-color: lightgrey;
}

button.buttonClassName:disabled {
  opacity: 0.3;
}

.workoutContainer {
  background-color: ghostwhite;
  margin-top: 20px;
  width: 95%;
  border: solid 1px black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.workoutName {
  margin-left: 20px;
  font-size: 40px;
  grid-column: 2/4;
  grid-row: 1/2;
}

.workoutDescription {
  margin-left: 20px;
  font-size: 15px;
  grid-column: 2/4;
  grid-row: 2/3;
}

.workoutSets {
  /*text-align: center;*/
  margin: 0px 0px 30px 20px;
  font-size: 24px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.workoutReps {
  /*text-align: center;*/
  margin: 0px 0px 30px 20px;
  font-size: 24px;
  grid-column: 3/4;
  grid-row: 3/4;
}

.img {
  margin-left: 10px;
  grid-column: 1/2;
  grid-row: 1/4;
  height: 300px;
  width: 500px;
}
