<div class="flexContainer" xmlns:color="http://www.w3.org/1999/xhtml">
  <div>
    <mat-form-field>
      <mat-label>Select Intensity</mat-label>
        <mat-select ([value])="first" (selectionChange)="saveValue($event, 'first')">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let intensity of intensities"  [value]="intensity.id">
            {{intensity.level}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select Workout</mat-label>
        <mat-select ([value])="second" (selectionChange)="saveValue($event, 'second')">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let workoutType of workoutTypes" [value]="workoutType.id">
            {{workoutType.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select Option</mat-label>
        <mat-select ([value])="third" (selectionChange)="saveValue($event, 'third')">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let workoutOption of workoutOptions" [value]="workoutOption.id">
            {{workoutOption.workout}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  <div class="workoutButton">
    <button mat-button (click)="saveWorkout()">Build Workout</button>
  </div>

  <div class="workoutContainer" *ngFor="let workout of workouts">
      <img class="img" src="{{workout.image}}">
      <p class="workoutName">{{workout.name}}<p>
      <p class="workoutDescription">{{workout.description}}</p>
      <p class="workoutSets"><u><h4>Sets</h4></u>{{workout.sets}}</p>
      <p class="workoutReps"><u><h4>Reps</h4></u>{{workout.reps}}</p>
  </div>
</div>
