<div>
  <div class="container">
    <a class="item" routerLink="/home">Home</a>
    <a class="item" routerLink="/generator">Workout Generator</a>
    <a class="item" routerLink="/calendar">Calendar</a>
    <a class="item" routerLink="/catalog">Catalog</a>
    <a class="item" routerLink="/forum">Forum</a>
    <a class="item" routerLink="/news">Fitness News</a>
  </div>
  <div class="container">
    <a class="settings">Settings</a>
    <a class="feedback">Send Feedback</a>
  </div>
</div>
