

.container {
  border: solid 1px #979797;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item{
  padding: 30px 0px 30px 0px;
  color: black;
  font-size: 24px;
  margin-left: 30px;
  text-decoration: none;
}

.settings{
  padding: 50px 0px 20px 0px;
  color: black;
  font-size: 15px;
  margin-left: 30px;
  text-decoration: none;
}
.settings:hover{
  color: lightgrey;
}

.feedback{
  padding: 20px 0px 50px 0px;
  color: black;
  font-size: 15px;
  margin-left: 30px;
  text-decoration: none;
}
.feedback:hover{
  color: lightgrey;
}

.item:hover{
  color: lightgrey;
}
/*.item_1 {*/
  /*text-align: left;*/
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: 1.58;*/
  /*letter-spacing: -0.3px;*/
  /*font-family: "Helvetica Neue";*/
  /*color: black       !important;*/
  /*margin: 50px 0px 25px 30px;*/
  /*text-decoration: none;*/
/*}*/



/*.item_2 {*/
  /*text-align: left;*/
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: 1.58;*/
  /*letter-spacing: -0.3px;*/
  /*font-family: "Helvetica Neue";*/
  /*color: black       !important;*/
  /*padding: 25px 0px 25px 30px;*/
  /*text-decoration: none;*/
/*}*/

/*.item_3 {*/
  /*text-align: left;*/
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: 1.58;*/
  /*letter-spacing: -0.3px;*/
  /*font-family: "Helvetica Neue";*/
  /*color: black       !important;*/
  /*padding: 25px 0px 25px 30px;*/
  /*text-decoration: none;*/
/*}*/

/*.item_4 {*/
  /*text-align: left;*/
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: 1.58;*/
  /*letter-spacing: -0.3px;*/
  /*font-family: "Helvetica Neue";*/
  /*color: black       !important;*/
  /*padding: 25px 0px 25px 30px;*/
  /*text-decoration: none;*/
/*}*/

/*.item_5 {*/
  /*text-align: left;*/
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: 1.58;*/
  /*letter-spacing: -0.3px;*/
  /*font-family: "Helvetica Neue";*/
  /*color: black       !important;*/
  /*padding: 25px 0px 25px 30px;*/
  /*text-decoration: none;*/
/*}*/

/*.item_6 {*/
  /*text-align: left;*/
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: 1.58;*/
  /*letter-spacing: -0.3px;*/
  /*font-family: "Helvetica Neue";*/
  /*color: black       !important;*/
  /*padding: 25px 0px 50px 30px;*/
  /*text-decoration: none;*/
/*}*/
