<div class="login_description" *ngIf="isLoggedIn; else loggedOut">
  <h5> Thank you for choosing fitness! </h5>
  <h5> This application allows you to select a workout based on style and
       intensity level. Simply go to 'workout generator'. You can also save
       your workouts! Explore the other sections by researching movements
       and sharing with the community! We hope you enjoy our application :) </h5>
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:300px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div class="form-group">
        <label class="login_description" for="username"> Username
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        </label>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>

      <br>

      <div class="form-group">
        <label class="login_description" for="password"> Password
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
        </label>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <button class="login_button"> Login </button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>

    </form>
    <hr />
    <p class="login_description"> Don't have an account? </p>
    <a routerLink="/register" class="login_input">Sign Up</a>
  </div>
</ng-template>
