.forum_posts {
  /*border-style: solid;*/
  margin: 20px 20px 20px 20px;
  font-size: 18pt;
  background-image: url("../../assets/images/mountains.jpg");
  background-repeat: repeat;
  color: darkgoldenrod;
  font-style: italic;
}

.forum_container {
  border-style: solid;
  border-color: purple;
  background-color: lightgray;
  margin: 20px 20px 20px 20px;
  font-size: 18pt;
  text-align: center;
}

.forum_input {
  margin: 20px 20px 20px 20px;
  font-size: 18pt;
}

.forum_button {
  margin: 20px 20px 20px 20px;
  font-size: 18pt;
  background-color: lightskyblue;
  border-style: dot-dash;
}

.forum_copyright {
  margin: 20px 20px 20px 20px;
  font-size: 18pt;
  text-align: center;
  color: darkred;
}
