<!DOCTYPE html>
<html>

<body>

  <div class="forum_posts">
    <div *ngFor="let message of forumDatabase">
      <b> <div> {{message.post}} </div> </b>
    </div>
  </div>

  <!-- User input goes here -->
  <form class="forum_container" [formGroup]="newPost" (ngSubmit)="createPost()">

    <label class="forum_input"> Anything new in fitness!? Let others know :)
      <input class="forum_input" formControlName="post" type="text">
    </label>
    <button class="forum_button" type="button" (click)="createPost()"> Post here! </button>

  </form>

  <p class="forum_copyright"> Copyright@2019 Mad Hatter Team Fitness Awesome </p>


</body>

</html>
