<div class="new_container" *ngFor="let article of this.newsDatabase">
  <div>
    <div>
      <h4 class="news_events"> <b> Event: {{article.event}} - {{article.description}} </b></h4>
    </div>
  </div>
</div>
