<div *ngFor="let exercise of fitnessDatabase">

  <div class="card">

    <div class="catalog_name"> {{exercise.name}} </div>
    <img src="{{exercise.image}}" alt="" height="200">
    <div class="catalog_description"> {{exercise.description}} </div>

  </div>

</div>
