.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 8px; /* 5px rounded corners */
  border-color: black;
  text-align: center;
  position: relative;
  padding: 2px 16px;
  background-color: forestgreen;
  margin: 20px 20px 20px 20px;
}

.catalog_name {
  text-align: center;
  font-size: 44px;
  font-style: italic;
  color: purple;
}

.catalog_description {
  text-align: center;
  font-size: 24px;
  font-style: oblique;
}
