.calendarContainer {
  margin: 15px;
  background-color: lightgrey;
  width: 10%;
  border: solid 1px black ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.calendarNameItem {
  grid-column: 2/3;
  grid-row: 2/3;
}

.calendarWorkoutItem {
  grid-column: 2/3;
  grid-row: 3/4;
}

.calendarLevelItem {
  grid-column: 2/3;
  grid-row: 1/2;
}
