<div>
  <div class="calendarContainer" *ngFor="let userWorkout of userWorkouts">
      <span class="calendarLevelItem">{{userWorkout.intensityId.level}}</span>
      <span class="calendarNameItem" >{{userWorkout.typeId.name}}</span>
      <span class="calendarWorkoutItem" >{{userWorkout.workoutId.workout}}</span>
  </div>
</div>
