.login_description {
  padding-top: 20px;
  font-size: 20pt;
  color: darkmagenta;
  text-align: center;
}

.login_input {
  font-size: 20pt;
  color: darkmagenta;
  text-align: center;
}

.login_button {
  margin: 20px 20px 20px 20px;
  font-size: 20pt;
  background-color: lightskyblue;
  border-style: dot-dash;
}
